.navbar{
    background-color: #3a3a3a;
}
.fa-apple{
    font-size: 25px;
}
.racial{
    background-image: url(img/Racial-equity-apple-clone-image.jpg);
    height: 536px;
    background-repeat: no-repeat;
    background-size: cover;
}
.watch-section {
    background-color: black;
    position: relative;
  }
  .red-img {
    position: absolute;
    top: -5px;
    left: -10px;
    z-index: 10;
  }
  .apple-icon {
    font-size: 35px;
  }
  
.homepod-mini-section{
    background-color: #fafafa;
}